@{
    ViewData["Title"] = "Hakoniwa Island";
    var viewModel = (IndexViewModel)ViewData["viewModel"];
    var loginItems = viewModel.LoginAccountViewModel;
    var listItems = viewModel.IslandViewModel;
}

@* title *@
<div class="text-left">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <span class="tagHeader">1回合</span>
</div>

<hr>

@* 登入選項 *@
<h2>
    <span class="tageHeader">島嶼登入</span>
</h2>

<form name="island" asp-action="Login" method="POST" onsubmit="">
    島嶼名稱
    <br>
    <select name="user">
        @foreach (var item in loginItems)
        {
            <option value=@item.IslandID.ToString()>@item.Name </option>
        }
    </select>
    <br>
    密碼
    <br>
    <input type="password" id="password" name="password" value="" size="32" maxlength="32">
    <br>
    <input type="radio" name=javamode value="standard" CHECKED>一般模式&emsp;
    <input type="radio" name=javamode value="javascript" >JavaScript模式
    <br>
    <button type="submit">島嶼開發</button>
</form>

@* 諸島狀況 *@
<hr>

<h1>
    <span class="tagHeader">諸島狀況</span>
</h1>
<br>
<p>
    點擊島嶼名稱，進入<b>觀光</b>。
</p>

@* 諸島列表 *@
<table border>
    <tbody>
        <tr>
            <th class="TitleCell" align="center">
                <span class="head">順位</span>
            </th>
            <th class="TitleCell" align="center">
                <span class="head">島嶼</span>
            </th>
            <th class="TitleCell" align="center">
                <span class="head">人口</span>
            </th>
            <th class="TitleCell" align="center">
                <span class="head">面積</span>
            </th>
            <th class="TitleCell" align="center">
                <span class="head">資金</span>
            </th>
            <th class="TitleCell" align="center">
                <span class="head">食料</span>
            </th>
            <th class="TitleCell" align="center">
                <span class="head">農業規模</span>
            </th>
            <th class="TitleCell" align="center">
                <span class="head">工業規模</span>
            </th>
            <th class="TitleCell" align="center">
                <span class="head">商業規模</span>
            </th>
            <th class="TitleCell" align="center">
                <span class="head">礦業規模</span>
            </th>
            <th class="TitleCell" align="center">
                <span class="head">發電量</span>
            </th>
            <th class="TitleCell" align="center">
                <span class="head">技術</span>
            </th>
        </tr>

        @for (int i = 0; i < listItems.Count; i++)
        {
            <tr>
                <th class="NumberCell" rowspan="4" align="center">
                    <font size="5">
                        <span class="number">@i.ToString()</span>
                    </font>
                </th>

                @* 島嶼資料 *@
                <th class="NameCell" rowspan="4" align="left">
                    <center>
                        <a style="text-decoration:none" href="https://hako.oldtu.com/hako-main.cgi?Sight=627" title="ID:627">
                            <span class="islName">@listItems[i].Name</span>
                        </a><br>
                        <font size="-1"><span class="shuto">首都：xxx</span><br></font>
                        ID:(<span class="house"><b>@listItems[i].IslandId.ToString()</b></span>) <span class="point">@listItems[i].Rank.ToString()</span>pts.<br>
                        <font size="-1">失業率</font>:(<span class="unemploy1">-10960.32%</span>)<br>
                        <span class="eisei"><font size="-1">總計觀光者數32萬人<br></font></span>
                        <span class="monsm"><font size="-2">(前回合＋363pts.＋33300人＋23635億圓)</font></span>
                    </center>
                </th>

                @* 島嶼數據 *@
                <td class="InfoCell"> @listItems[i].People.ToString() 人</td>
                <td class="InfoCell"> @listItems[i].TotalArea.ToString() 萬坪</td>
                <td class="InfoCell"> 推估 @listItems[i].Funds.ToString() 億元</td>
                <td class="InfoCell"> 推估 @listItems[i].Foods.ToString() 噸</td>
                <td class="InfoCell"> @listItems[i].IndustryEmployee.ToString() 人</td>
                <td class="InfoCell"> @listItems[i].FrameEmployee.ToString() 人</td>
                <td class="InfoCell"> @listItems[i].BusinessEmployee.ToString() 人</td>
                <td class="InfoCell"> @listItems[i].MiningEmployee.ToString() 人</td>
                <td class="InfoCell"> @listItems[i].TotalPower.ToString() 萬瓦</td>
                <td class="InfoCell"> Lv.0</td>
            </tr>

            @* Toto *@
            <tr>
                <td class="TotoCell" colspan="5" align="left"><span class="headToTo">予想1：</span>test toto 1</td>
                <td class="TotoCell" colspan="5" align="left"><span class="headToTo">予想2：</span>test toto 2</td>
            </tr>
            @* message *@
            <tr>
                <td class="TotoCell" colspan="10" align="left"><span class="lbbsSS">@listItems[i].UserName : </span>@listItems[i].UserInfomation</td>
            </tr>

            <tr>
                <td class="CommentCell" colspan="10" align="left"></td>
            </tr>
            
        }
    </tbody>
</table>


@* 箱庭盃 *@
<div id="HakoniwaCup">
        <hr>
        <h1>
                <a href="">Hakoniwa Cup</a>
        </h1>
</div>



